# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/src/react-sample/node_modules
/src/react-native-sample/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/src/react-sample/.next/
/out/

# Expo
/src/react-native-sample/.expo/
/src/react-native-sample/dist/
/src/react-native-sample/web-build/

# production
/src/react-sample/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo
