.lookup.only-buttons .btn.lookup-btn {
  color: $primary;
  margin: 0 5px;
}

.lookup.only-buttons .btn.lookup-btn i {
  margin: 0;
  font-size: 20px;
}

.lookup {
  position: relative;

  .lookup-variants-container {
    position: relative;
  }

  .btn.lookup-btn {
    color: $darkGrey;
  }

  &.autocomplete .lookup-buttons {
    display: flex;
    align-items: center;
    gap: 4px;

    position: absolute;
    top: 7px;
    right: 12px;

    svg, button {
      color: $darkGrey;
    }
  }

  .lookup-variants {
    position: absolute;
    top: 4px;
    left: 0px;
    width: 100%;
    background: $white;
    max-height: 88px;
    overflow-y: auto;
    z-index: 10;
    border-radius: $defaultBorderRadius;
    border: 0.5px solid $silver;

    .variant {
      padding: 8px 16px;
      font-weight: 400;
      cursor: pointer;

      &:hover {
        font-weight: 500;
        background: $silver10;
      }
    }
  }
}