$checkboxSize: 24px;

.checkbox, label {
  position: relative;
  width: fit-content;
  height: $checkboxSize;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

input[type="checkbox"]+label::before {
  width: $checkboxSize;
  height: $checkboxSize;
  margin: 0;
  padding: 0;
  border: 1px solid $silver;
  border-radius: $defaultBorderRadius;
  display: inline-block;
  content: '';
}

input[type="checkbox"]:checked+label::after {
  position: absolute;
  top: 2px;
  left: 2px;
  content: '\e93a';
  display: inline-block;
  font-family: 'guideline-icons';
  font-size: 20px;
  color: $defaultBlue;
  text-align: center;
  vertical-align: middle;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: $checkboxSize;
  height: $checkboxSize;
  opacity: 0 !important;
  cursor: pointer;
  z-index: 10;
}

.checkbox label::before {
  margin-top: 2px;
}

div.checkbox.inline {
  margin: 8px 0;
}

.chips {
  display: flex;
  flex-flow: wrap;
  row-gap: 8px;
  column-gap: 12px;

  .readonly.label-checkbox {
    background: $silver;
    border-radius: 4px;
    color: $darkGrey;
    padding: 4px 8px;
    font-weight: normal;
    line-height: 20px;

    &.checked {
      color: $white;
      background-color: $defaultBlue;
    }
  }
}